
/* ---------------------------------Header---------------------------------------------------- */
.custom-navbar {
 
  height: 7vh; 
  background: var(--primary-color);
}
.left-nav{
 
  width: 250px;
  
}
.right-nav{
 
  flex: 0 0 250px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.navbar-center {
  flex: 1;
  display: flex;
  justify-content: space-between;

  margin-left: 24px;
  margin-right: 24px;
}

.navbar-center .nav-link {
  flex: 1;
  text-align: center;
}
.active-icon-box{

  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid var(--activeIconColor);
  box-sizing: border-box;
}
.icon-box{
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px ;
  box-sizing: border-box;

}

.profile{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  background: #000;
}
.profile-image{
  object-fit: cover;
  width: 100%;
  height: 100%;

}


/* ----------main---------------------------------------------------------- */

.main{
  background-color: var(--bg-color);
  min-height: 93vh;
}
.left-sidebar, .right-sidebar{
  width: 250px;
  background-color: var(--sidebar);
  height: 89vh;
  border-radius: 5px;
  border: 1px solid #F0EDFF;
}
.main-content{
  width:calc(100% - 548px) ;
  background-color: var(--sidebar);
  min-height: 91vh;
  border-radius: 5px;

}


/* left sidebar ------------------------------------------------------------------------------*/
.menu{
  cursor: pointer;
  border-radius: 10px;
}
.menu:hover{
  background-color: #e6e3e3;
}

.menu-image{
  width: 25px;
  height: 25px;
  overflow: hidden;
  
}
.menu-image-profile{
  border-radius: 50%;
}
.menu-image img{
  object-fit: cover;
  width: 100%;
  height: 100%;

}
.menu-title{
  font-size: 16px;
  font-weight: 500;
}

.home-p{
  position: relative;

}
.home{
  position: absolute;
  background: black;
  color: white;
  padding: 8px 17px;
  border-radius: 10px;
  bottom:-38px;
  font-size: 12px;
  font-weight: bold;
  display: none;

}
.home-p:hover .home {
  display: block; 
}
