.nav-bg {
  background: linear-gradient(
    90.21deg,
    rgba(63, 159, 250, 1) -5.93%,
    rgba(74, 47, 189, 0.5) 111.58%
  );
}

.icon-link {
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  text-decoration: none;
  color: #fff !important;
}

.icon {
  transition: transform 0.3s ease-in-out;
  font-size: 2rem;
}

.icon-link:hover .icon {
  transform: scale(1.2);
}

.link-label {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.icon-link:hover .link-label {
  opacity: 1;
  visibility: visible;
}

.sidebar {
  background-color: #f5f6f7;
  padding: 10px;
  min-height: 88vh;
}

.sidebar ul li {
  list-style-type: none;
  padding:1.5rem 1rem;
}
.sidebar a {
  text-decoration: none;
  transition: color 0.3s, transform 0.3s, font-size 0.3s;
}

.sidebar a:hover {
  color: red;
  transform: scale(1.1);
  font-size: 1.1em;
}

.news-feed {
  background-color: #ffffff;
  padding: 10px;
}

.post {
  background-color: #f8f9fa;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.right-sidebar {
  background-color: #f5f6f7;
  padding: 10px;
}
