:root{
    --primary-color:#0E3748;
    --bg-color:#E9E5E5;
    --sidebar: #F0F0F0;
    --activeIconColor:#00BFFF;


}
.navbar-center {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .navbar-center .nav-link {
    flex: 1;
    text-align: center;
  }
  